[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
jsonpath = "*"
pymysql = "*"
openpyxl = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.7"
